body {
    padding: 0;
    text-align: center;
    margin: 0;
	  overflow: hidden;
  }

  body button {
    font-size: 26px;
    background-color: darkslategray;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #game-board {
      display: absolute;
      align-items: center;
      padding: 20px 0px;
  }
  
  canvas {
    border: solid 1px black;
  }

  /* code for Game Title Introduction animation */

#instructions {
	position: absolute;
	color: #666;
	bottom: 0;
	padding-bottom: 6px;
	font-family: sans-serif;
	width: 100%;
	text-align: center;
	pointer-events: none;
}