

body {
    padding: 0;
    text-align: center;
    margin: 0;
	  overflow: hidden;
    background-color: #e8ceb0;
  }

  #game-instructions {
    display: flex;
    float: left;
    background-color: black;
    color: goldenrod;
    bottom: 0;
    padding-bottom: 6px;
    font-family: sans-serif;
    width: 125px;
    cursor: pointer;
  }
  
  #game-board {
      position: relative;
      align-items: center;
      padding: 20px 0px;
  }
  
  canvas {
    border: solid 1px black;
  }

  p {
    font-family: 'Explora', cursive;
  }

  /* code for Game Title Introduction animation */



/* Start Coin Animation */
#start-coin {
   background-color: #e8ceb0;
   display: flex;
    float: left;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 35px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    -webkit-perspective: 300px;
    perspective: 300px;
     position: relative;
     transform-style: preserve-3d;
    }
    

  #start-coin img {
    width: 350;
    height: 275px;
    display: flex;
    float: left;
    flex-wrap:wrap;
  }

  .silver-heads{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transform: translateZ(1px);
    background-image: url(./coin-head-silver.png);
    background-size: cover;
    display: block;
}

.silver-tails {
  transform: translateZ(-1px) rotateY(180deg);
  position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./coin-tail-silver.png);
    background-size: cover;
     display: block;
}
#coin.animation900 {
  -webkit-animation: rotate900 3s linear forwards; 
  animation: rotate900 3s linear forwards;
  }
  
  #coin.animation1080 {
  -webkit-animation: rotate1080 3s linear forwards; 
  animation: rotate1080 3s linear forwards;
  }
  
  #coin.animation1260 {
  -webkit-animation: rotate1260 3s linear forwards; 
  animation: rotate1260 3s linear forwards;
  }
  
  #coin.animation1440 {
  -webkit-animation: rotate1440 3s linear forwards; 
  animation: rotate1440 3s linear forwards;
  }
  
  #coin.animation1620 {
  -webkit-animation: rotate1620 3s linear forwards; 
  animation: rotate1620 3s linear forwards;
  }
  
  #coin.animation1800 {
  -webkit-animation: rotate1800 3s linear forwards; 
  animation: rotate1800 3s linear forwards;
  }
  
  #coin.animation1980 {
  -webkit-animation: rotate1980 3s linear forwards; 
  animation: rotate1980 3s linear forwards;
  }
  
  #coin.animation2160 {
  -webkit-animation: rotate2160 3s linear forwards; 
  animation: rotate2160 3s linear forwards;
  }
  
  @-webkit-keyframes rotate900 {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(900deg); -moz-transform: rotateY(900deg); transform: rotateY(900deg); }
  }
  
  @keyframes rotate900 {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(900deg); -moz-transform: rotateY(900deg); transform: rotateY(900deg); }
  }
  
  @-webkit-keyframes rotate1080 {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1080deg); -moz-transform: rotateY(1080deg); transform: rotateY(1080deg); }
  }
  
  @keyframes rotate1080 {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1080deg); -moz-transform: rotateY(1080deg); transform: rotateY(1080deg); }
  }
  
  @-webkit-keyframes rotate1260 {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1260deg); -moz-transform: rotateY(1260deg); transform: rotateY(1260deg); }
  }
  
  @keyframes rotate1260 {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1260deg); -moz-transform: rotateY(1260deg); transform: rotateY(1260deg); }
  }
  
  @-webkit-keyframes rotate1440 {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1440deg); -moz-transform: rotateY(1440deg); transform: rotateY(1440deg); }
  }
  
  @keyframes rotate1440 {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1440deg); -moz-transform: rotateY(1440deg); transform: rotateY(1440deg); }
  }
  
  @-webkit-keyframes rotate1620 {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1620deg); -moz-transform: rotateY(1620deg); transform: rotateY(1620deg); }
  }
  
  @keyframes rotate1620 {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1620deg); -moz-transform: rotateY(1620deg); transform: rotateY(1620deg); }
  }
  
  @-webkit-keyframes rotate1800 {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1800deg); -moz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
  }
  
  @keyframes rotate1800 {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1800deg); -moz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
  }
  
  @-webkit-keyframes rotate1980 {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1980deg); -moz-transform: rotateY(1980deg); transform: rotateY(1980deg); }
  }
  
  @keyframes rotate1980 {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1980deg); -moz-transform: rotateY(1980deg); transform: rotateY(1980deg); }
  }
  
  @-webkit-keyframes rotate2160 {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(2160deg); -moz-transform: rotateY(2160deg); transform: rotateY(2160deg); }
  }
  
  @keyframes rotate2160 {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(2160deg); -moz-transform: rotateY(2160deg); transform: rotateY(2160deg); }
  }
#flip-button{
  display: flex;
  flex-direction: column;
  position: bottom;
  width: 125px;
  padding: 15px 0;
  border: none;
  font-size: 16px;
  border-radius: 2.5px;
  cursor: pointer;
  background-color: black;
  color: goldenrod;
}

